# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compilados
bin/
obj/
[Bb]uild/
[Ll]og/
TestResults/
*.Cache/
*.dbmdl

# Paquetes
packages/
*.nupkg
*.snupkg

# Configs locales
appsettings.Development.json

# VS Code (si también lo usas)
.vscode/

# Otros
*.tmp
*.log
